.time{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    letter-spacing: 20px;
}

.time .hours{
    border: 1px transparent blue;
    color:blue;
}

.time .min{
    border: 1px transparent greenyellow;
    color:greenyellow;
}

.time .sec{
    border: 1px transparent orangered;
    color:orangered;
}

.time .period{
    border: 1px transparent #0afa9e;
    color:#0afa9e;
}

span {
    color:white;
}