.time{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    column-gap: 10px;
}

.hours {
    width: 200px;
    text-align: center;
    background-color: rgb(2, 2, 141);
    color: white;
}

.mins {
    width: 200px;
    text-align: center;
    background-color: rgb(105, 146, 16);
    color: white;
}

.secs{
    width: 200px;
    text-align: center;

    background-color: rgb(150, 45, 6);
    color: white;
}

.period{
    width: 200px;
    text-align: center;
    background-color:#09915d;
    color: white;
}

.hrsT{
    background-color: blue;
    height: 100px;
    text-align: center;
    line-height: 90px;
}

.minT{
    background-color:yellowgreen;
    height: 100px;
    text-align: center;
    line-height: 90px;
}

.secT{
    background-color:orangered;
    height: 100px;
    text-align: center;
    line-height: 90px;
}

.periodT{
    background-color:#0afa9e;
    height: 100px;
    text-align: center;
    line-height: 90px;
}

span {
    color:white;
}
